*{
    margin: 0px;
    padding: 0px;
}

.color{
    color: red;   
}

.heading{
    margin: 50px;    
    margin-left: 15%;
    font-size: 30px;
    color: green;
}

.formdesign{
    margin: 40px;
    font-size: 18px;
    font-weight: 600;
}

.formdesign input{
    width: 50%;
    padding: 6px 20px;
    border: 2px solid green;
}

.btn{
    cursor: pointer;
    width: 9%;
    letter-spacing: 0.09rem;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 20px;
    padding: 8px;
    color: whitesmoke;
    background-color: green;
}
.btn:hover{
    padding: 14px;
    transform: 0.5s;
    transition: 0.5s;
}